include ./basic_navigator.jade

block content
  h1.
    User Details
  div
    table.table.table-striped.table-hover
      thead
        tr
          th Email
          th Degree
          th University
          th Year
          th Scripts
        tbody
        - if (users && users.length) {
          each entry, i in users
            tr
              td= entry.local.email
              td= entry.local.degree
              td= entry.local.university
              td= entry.local.year
              td
                - if (entry.local.scripts && entry.local.scripts.length) {
                  table.table.table-hover(border="1")
                    each scriptEntry, j in entry.local.scripts
                      tr
                        td= scriptEntry
                - }
        - }