include ./basic_navigator.jade

block content
  h1.
    User Details
  div
    table.table.table-striped.table-hover
      thead
        tr
          th Email
          th Degree
          th University
          th Year
        tbody
        - if (users && users.length) {
          each entry, i in users
            tr
              td= entry.local.email
              td= entry.local.degree
              td= entry.local.university
              td= entry.local.year
              - if (entry.local.scripts && entry.local.scripts.length) {
                tr
                  td
                    table.table.table-striped.table-hover
                      thead
                        tr
                          th Scripts
                      tbody
                        each scriptEntry, j in entry.local.scripts
                          tr
                            td= scriptEntry
              - }
        - }