include ./basic_navigator.jade

block content

  script.
    var deleteScript = function(script) {
      $.post("/admin/deletescript", { script : script })
       .done(function(data) {
         location.reload();
       })
       .fail(function(xhr, textStatus, errorThrown) {
         alert("Failed to delete! " + xhr.responseText);
       }); 
    }

    var deleteScripts = function(user) {
      $.post("/admin/deletescripts", { user : user })
       .done(function(data) {
         location.reload();
       })
       .fail(function(xhr, textStatus, errorThrown) {
         alert("Failed to delete! " + xhr.responseText);
       });      
    };
 
    var deleteUser = function(user) {
      $.post("/admin/deletescripts", { user : user })
       .done(function(data) {
         $.post("/admin/deleteuser", { user : user })
          .done(function(data) {
            location.reload();
          })
          .fail(function(xhr, textStatus, errorThrown) {
            alert("Failed to delete! " + xhr.responseText);
          }); 
       })
       .fail(function(xhr, textStatus, errorThrown) {
         alert("Failed to delete! " + xhr.responseText);
       }); 
    };

  h1.
    User Details
  div
    table.table.table-striped.table-hover
      thead
        tr
          th Email
          th Degree
          th University
          th Year
          th Scripts
          th Control
        tbody
        - if (users && users.length) {
          each entry, i in users
            tr
              td= entry.local.email
              td= entry.local.degree
              td= entry.local.university
              td= entry.local.year
              td
                - if (entry.local.scripts && entry.local.scripts.length) {
                  table.table.table-hover(style="border: 1px solid black")
                    each scriptEntry, j in entry.local.scripts
                      tr
                        td(onclick='window.location.replace("/script/edit/#{scriptEntry}")')= scriptEntry
                        td
                          button.btn.btn-danger.btn-xs(type='button', onclick='deleteScript("#{scriptEntry}")') Delete
                - }
              td
                .btn-group 
                  button.btn.btn-warning.btn-xs(type='button', onclick='deleteScripts("#{entry.local.email}")') Delete All Scripts
                  button.btn.btn-danger.btn-xs(type='button', onclick='deleteUser("#{entry.local.email}")') Delete User
        - }
