include ./basic_navigator.jade

block content
  script(type='text/javascript', src='/events.js')
  script.
      var scripts = [{name: !{JSON.stringify(scriptName)}, content:!{JSON.stringify(script)}}];
      var levelname = "OvalTrack";
      var carname = "Catamount";
      var updateScript = function() {
          console.log("Update!");
          scripts = scripts.map(function(s) {
              console.log("Mapping " + s.name);
              if(s.name == !{JSON.stringify(scriptName)}) {
                  s.content = document.getElementById('newScriptForm').elements["inputScript"].value;
                  console.log("Set content to " + s.content);

                  s.update = buildUpdate(s.content);
              }

              return s;
          });
      };

  .row
    .col-lg-6
      h1.
          Edit your Racing Script
      div.well.bs-component
          form#newScriptForm.form-horizontal(method='post')
              fieldset
                  .row
                    .col-lg-14
                      .form-group
                        label.col-lg-2.control-label(for='inputScriptName') Script Name
                        .col-lg-9
                          input#inputScriptName.form-control(value=scriptName, type='text', name="scriptname", readonly="true")
                      .form-group
                        label.col-lg-2.control-label(for='inputScript') Script
                        .col-lg-9
                          textarea#inputScript(name='script', data-editor="javascript", rows="20")
                      .form-group
                        .col-lg-6.col-lg-offset-2
                          .btn-group
                            button.btn.btn-default(type='button', onclick='updateScript()') Update
                            button.btn.btn-primary(type='submit') Submit
    .col-lg-6
      include ../public/WebBuild.html

    script(src="http://ajaxorg.github.io/ace-builds/src/ace.js")
    script(type='text/javascript').
      $(document).ready(function () {
        $('textarea[data-editor]').each(function () {

          var textarea = $(this);
          var mode = textarea.data('editor');

          var editDiv = $('<div>', {
            position:'absolute',
            width:textarea.parent().width(),
            height:textarea.height(),
            'class':textarea.attr('class')
          }).insertBefore(textarea);

          textarea.css('display', 'none');

          var editor = ace.edit(editDiv[0]);

          editor.getSession().on('change', function(){
            textarea.val(editor.getSession().getValue());
          });

          editor.getSession().setValue(!{JSON.stringify(script)});
          editor.getSession().setMode("ace/mode/" + mode);
          editor.renderer.setShowGutter(true);
          editor.setFontSize("16px");
          editor.setTheme("ace/theme/solarized_light");
          editor.setEnableBasicAutocompletion(true);
        });
      });


