include ./basic_navigator.jade

block content
    script.
        var scripts = !{JSON.stringify(scripts)};
        var levelname = !{JSON.stringify(levelname)};
        var carname = !{JSON.stringify(carname)};
        var gamemode = !{JSON.stringify(gamemode)};
        var scores = !{JSON.stringify(scores)};
        
    - if (gamemode == "Tournament" && scores && scores.length) {
    table.table.table-striped.table-hover
      thead
        tr
          th Script
          th Rating
          th Change
        tbody
        each entry, i in scores
          tr
            td= entry.name
            td= Math.round(entry.rating)
            td= Math.round(entry.rating - entry.previous)
    - }

    include ../public/WebBuild.html
